name: Build ARMA III for Windows

on:
  schedule:
    - cron: 0 0 * * 0

  push:
    branches:
      - main
    paths:
      - "arma3-win/**"

env:
  GAME: arma3-win
  VERSION: 1
  DOCKER_HUB_DESCRIPTION: "ARMA III game server and headless client running on Windows Server"

jobs:
  build-and-deploy:
    name: Build and push Docker image
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - name: Build and push
        uses: mr-smithers-excellent/docker-build-push@59523c638baec979a74fea99caa9e29d97e5963c # v6
        with:
          image: ipshosting/game-${{ env.GAME }}
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          tags: v${{ env.VERSION }}, latest
          dockerfile: ./${{ env.GAME }}/Dockerfile
          directory: ./${{ env.GAME }}

      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@432a30c9e07499fd01da9f8a49f0faf9e0ca5b77 # v4
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ipshosting/game-${{ env.GAME }}
          short-description: ${{ env.DOCKER_HUB_DESCRIPTION }}
          readme-filepath: ./${{ env.GAME }}/README.md
