name: Build ARMA III for Windows

on:
  schedule:
    - cron: 0 0 * * 0

  push:
    branches:
      - main
    paths:
      - "arma3-win/**"

env:
  GAME: arma3-win
  VERSION: 1
  DOCKER_HUB_DESCRIPTION: "ARMA III game server and headless client running on Windows Server"

jobs:
  build-and-deploy:
    name: Build and push Docker image
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build and push
        uses: mr-smithers-excellent/docker-build-push@19d2beefef6bcdc202195fdcb9deb79a4fab5c1f # v6
        with:
          image: ipshosting/game-${{ env.GAME }}
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          tags: v${{ env.VERSION }}, latest
          dockerfile: ./${{ env.GAME }}/Dockerfile
          directory: ./${{ env.GAME }}

      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ipshosting/game-${{ env.GAME }}
          short-description: ${{ env.DOCKER_HUB_DESCRIPTION }}
          readme-filepath: ./${{ env.GAME }}/README.md
